*
{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family:"Open Sans", sans-serif;
}
:root{
	--red:  #E64848;
	--white: #fff;
	--grey: #f5f5f5;
	--black1: #222;
	--black2: #999;
}

body{
	min-height: 625px;
	overflow-x: hidden;
	
	
}

.menu-header-bg {
    height: 250px;
    width: 360px;
    background: linear-gradient(190deg,#A62C2B 50%, #E64848 100%);
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    transform: rotate(-10deg);
    border-radius: 20px  15px 15px;
    margin-left: -20px;
	margin-top: -150px;
   

}
.container{
	position: relative;
	width:100%;
	

}

.navigation .logo img{
	height:90px;
	width:90px;
	margin-right:40px;
	margin-left:5px;
	border-radius:50px;
	box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.5);
	margin-top:-5px;
	
}
/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:  transparent; 
}



.navigation{
	position: fixed;
	width: 300px;
	height: 100%;
	background: var(--red);
	border-left: 10px solid var(--black1);
	transition: 0.5s;
	overflow:hidden;
	overflow-y:scroll;
}
/*navigation 2nd width*/
.navigation.active{
	width:120px;
	
}
.navigation ul{
	position: absolute;
	top: 0;
	left: 5px;
	width: 100%;
		
}

.navigation ul li {
	position: relative;
	width: 100%;
	list-style: none;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	
	
}
.navigation ul li:hover,
.navigation ul li.hovered {
	background: var(--white);
}
/*BESO potal*/
.navigation ul li:nth-child(1){
	margin-bottom: 40px;
	pointer-events: none;
	margin-top:20px;
	margin-bottom:30px;
	
}

.navigation ul li a{
	position: relative;
	display: block;
	width: 100%;
	display:flex;
	text-decoration:none;
	color: var(--white);
}

.navigation ul li:hover a,
.navigation ul li.hovered a{
	color: #444;
	
	
}


.navigation ul li a .icon{
	position: relative;
	display: block;
	min-width: 70px;
	height: 70px;
	line-height: 90px;
	text-align:center;
	
}

.navigation ul li a .icon ion-icon{
	font-size: 30px;
	/*
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
	*/
	margin-left:30px;
}

.navigation ul li a .title{
	position: relative;
	display:block;
	padding: 0 40px;
	line-height: 70px;
	text-align: start;
	white-space: nowrap;
	font-size: 17px;
	font-weight:bold;
	
}
.navigation ul li a .title1{
	position: relative;
	font-size:25px;
	display:block;
	margin-left:-20px;
	line-height: 68px;
	text-align: start;
	white-space: nowrap;
	transform: rotate(-9deg);
	margin-top:-9px;
	 font-weight:bold;
}




/* curve outside */

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before{
	content:'';
	position: absolute;
	right:5px;
	top: -50px;
	width:50px;
	height:50px;
	background:transparent;
	border-radius: 50%;
	box-shadow: 35px 35px 0 10px var(--white);
	pointer-events:none;
	
	
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after{
	content:'';
	position: absolute;
	right:5px;
	bottom: -50px;
	width:50px;
	height:50px;
	background:transparent;
	border-radius: 50%;
	box-shadow: 30px -30px 10px var(--white);
	pointer-events:none;
}
/***Main***/
.main{
	position: abosolute;
	margin-left: 270px;
	min-height:625px;
	background: var(--white);
	transition:0.5s;
}
.main.active{
margin-left: 100px;
}
.topbar{
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
}

.toggle{
	position:relative;
	width:40px;
	height:50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size:30px;
	cursor: pointer;
	margin-top:10px;
	margin-left: 30px;
}
.search{
	position:relative;
	width:300px;
	margin:0 10px;
	margin-right:10px;
	margin-top:10px;
}
.search label{
	position: relative;
	width:100%;
}
.search label input{
	width: 100%;
	height: 30px;
	border-radius:40px;
	padding: 5px 20px;
	padding-left: 35px;
	outline: none;
	border: 1px solid var(--black2);
}
.search label ion-icon{
	position:absolute;
	top: 0px;
	bottom:1px;
	left: 10px;
	font-size: 20px;
}


.target {
  border-collapse: collapse;
  width: 95%;
  margin-left:43px;
  margin-right:80px;
  margin-top:130px;
  border-radius: 3px 3px 0 0;
  overflow:hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  
}
.target input{
	width:40px;
	height:30px;
	
}

.target td, .target th {
  padding: 8px;
}
.target tbody tr{
	border-bottom: 1px solid #dddddd;
}
.target tr:nth-child(even){
	background-color: var(--grey);
}
.target tbody tr:last-of-type{
	border-bottom: 2px solid var(--red);
}
.target tr:hover {background-color: #ddd;}

.target th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: var(--red);
  color: white;
  font-weight:bold;
}
.target td, input {
	text-align: center;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.target select{
background-color:var(--red);
color: white;
Border: none;
font-size: 18px;
cursor: pointer;
font-weight:bold;
}
.target th,option{
	color:white;
	cursor: pointer;
	text-align: center;
}
.header{
  border-collapse: collapse;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: -100px;
  border: none;
 
  
}

.header thead {
  margin-left:50px;
}
.header th{
  font-size:40px;
}

.header p{
font-weight: bold;
font-size: 35px;
background-color: #E64848;
color: white;
width: auto;
padding: 25px 90px;
border-radius:5px;
box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
letter-spacing: 10px;
}
	/*
	color: #444;
  text-shadow: 
    1px 0px 1px #ccc, 0px 1px 1px #eee, 
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px #ccc, 3px 4px 1px #eee,
    5px 4px 1px #ccc, 4px 5px 1px #eee,
    6px 5px 1px #ccc, 5px 6px 1px #eee,
    7px 6px 1px #ccc;
}
}
*/

.select {
  border-collapse: collapse;
  display: flex;
  position: relative;
  padding: 10px 20px;
  background-color: #E64848;
  margin-left: 30px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  border-radius:5px;
}
.header .select label{
	color:white;
	font-size:20px;
	cursor: pointer;
}
 .select input{
  cursor: pointer;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-right:10px;
  
}

.select1 {
  border-collapse: collapse;
  display: flex;
  position: relative;
  padding: 10px 20px;
  background-color: #E64848;
  margin-left: 30px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  border-radius:5px;
  margin-top:5px;
}
.header .select1 label{
	color:white;
	font-size:20px;
	cursor: pointer;
}
 .select1 input{
  cursor: pointer;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
  margin-right:10px;
  
}

.header .btn{
	margin-left: 20px;
	margin-bottom: 10px;
	display:flex;
}
 
 .header .btn {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 8px 25px;
  font-size: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  border-radius: 5px;
  width: auto;
}


.header .btn:hover {
  background-color:  #4CAF20;
  color: white;
}

.header .btn4{
		margin-left: 20px;
		display:flex;

}
 
 .header .btn4 {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 8px 18px;
  font-size: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  border-radius: 5px;
  width: auto;
}


.header .btn4:hover {
  background-color:  #4CAF20;
  color: white;
}



