*
{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family:"Open Sans", sans-serif;
}
:root{
	--red:  #E64848;
	--white: #fff;
	--grey: #f5f5f5;
	--black1: #222;
	--black2: #999;
}

body{
	min-height: 625px;
	overflow-x: hidden;
	
	
}

.menu-header-bg {
    height: 250px;
    width: 360px;
    background: linear-gradient(190deg,#A62C2B 50%, #E64848 100%);
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    transform: rotate(-10deg);
    border-radius: 20px  15px 15px;
    margin-left: -20px;
	margin-top: -150px;
   

}
.container{
	position: relative;
	width:100%;
	

}

.navigation .logo img{
	height:90px;
	width:90px;
	margin-right:40px;
	margin-left:5px;
	border-radius:50px;
	box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.5);
	margin-top:-5px;
	
}
/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:  transparent; 
}



.navigation{
	position: fixed;
	width: 300px;
	height: 100%;
	background: var(--red);
	border-left: 10px solid var(--black1);
	transition: 0.5s;
	overflow:hidden;
	overflow-y:scroll;
}
/*navigation 2nd width*/
.navigation.active{
	width:120px;
	
}
.navigation ul{
	position: absolute;
	top: 0;
	left: 5px;
	width: 100%;
		
}

.navigation ul li {
	position: relative;
	width: 100%;
	list-style: none;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	
	
}
.navigation ul li:hover,
.navigation ul li.hovered {
	background: var(--white);
}
/*BESO potal*/
.navigation ul li:nth-child(1){
	margin-bottom: 40px;
	pointer-events: none;
	margin-top:20px;
	margin-bottom:30px;
	
}

.navigation ul li a{
	position: relative;
	display: block;
	width: 100%;
	display:flex;
	text-decoration:none;
	color: var(--white);
}

.navigation ul li:hover a,
.navigation ul li.hovered a{
	color: #444;
	
	
}


.navigation ul li a .icon{
	position: relative;
	display: block;
	min-width: 70px;
	height: 70px;
	line-height: 90px;
	text-align:center;
	
}

.navigation ul li a .icon ion-icon{
	font-size: 30px;
	/*
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
	*/
	margin-left:30px;
}

.navigation ul li a .title{
	position: relative;
	display:block;
	padding: 0 40px;
	line-height: 70px;
	text-align: start;
	white-space: nowrap;
	font-size: 17px;
	font-weight:bold;
	
}
.navigation ul li a .title1{
	position: relative;
	font-size:25px;
	display:block;
	margin-left:-20px;
	line-height: 68px;
	text-align: start;
	white-space: nowrap;
	transform: rotate(-9deg);
	margin-top:-9px;
	 font-weight:bold;
}




/* curve outside */

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before{
	content:'';
	position: absolute;
	right:5px;
	top: -50px;
	width:50px;
	height:50px;
	background:transparent;
	border-radius: 50%;
	box-shadow: 35px 35px 0 10px var(--white);
	pointer-events:none;
	
	
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after{
	content:'';
	position: absolute;
	right:5px;
	bottom: -50px;
	width:50px;
	height:50px;
	background:transparent;
	border-radius: 50%;
	box-shadow: 30px -30px 10px var(--white);
	pointer-events:none;
}
/***Main***/
.main{
	position: abosolute;
	margin-left: 270px;
	min-height:625px;
	background: var(--white);
	transition:0.5s;
}
.main.active{
margin-left: 100px;
}
.topbar{
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
}

.toggle{
	position:relative;
	width:40px;
	height:50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size:30px;
	cursor: pointer;
	margin-top:10px;
	margin-left: 30px;
}

.header{
  border-collapse: collapse;
  margin-left:20px;
  margin-right:auto;
  

 

}
.header th, p{
font-weight: bold;
font-size: 35px;
background-color: #E64848;
color: white;
width: 100%;
padding: 25px 80px;
border-radius:5px;
box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
letter-spacing: 10px;
display:flex;

}

/* Fill Up */
.Create {
	position: relative;
	padding:20px;
	display:grid;
	margin-left: 20px;
	word-wrap: break-word;
	grid-template-columns: repeat(2,1fr);
	grid-gap:20px;
	width:fixed;

	
}

.Create .fillup{
	position:relative;
	padding:5px;
	display:flex;
	justify-content:space-between;
	box-shadow: 0 7px 25px rgba(0, 0, 0, 0.2);
	background: #f1f1f1;
	
}



.Create .input-field {
  padding: 12px 5px;
  width: auto;
  
}


.Create .input-field label{
	font-weight:bold;
	color#444;
	
}



.Create  .input-field textarea {
  margin-top:5px;
  width: 100%;
  height: 70px;
  padding: 10px 11px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  font-size: 15px;
  resize: none;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.08);
  margin: 5px 0 22px 0;
  display: inline-block;
}

.Create  .input-field1 textarea {
  margin-top:5px;
  width: 100%;
  height: 250px;
  padding: 10px 11px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  font-size: 15px;
  resize: none;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.08);
  margin: 5px 0 22px 0;
  display: inline-block;
}
.Create .input-field1 label{
	font-weight:bold;
	color#444;
	
}
.Create .input-field1 {
  padding: 12px 5px;
  width: auto;
}






.participants {
	overflow:hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	border-radius: 3px 3px 0 0;
	border: 1px solid black; 	
	margin-left:auto;
	margin-right:auto;
}
.participants th {
  border-collapse: collapse;
  color: white;
  font-weight:bold;
  padding: 8px 35px ;
  background-color: var(--red);
  display:abosolute; 
  
  
}
 .participants .MF  td{
	color: white;
	background-color: #f1f1f1;
	padding: 4px;
}	
.participants  td,input {
  font-weight:bold;
  resize: none;
  font-weight:bold;
  width: 50px;
  text-align: center;
  height:40px;
  
}
.participants .total td{
	color:white;
}
.participants .total  td:nth-child(1){
	 background-color:  var(--red); 
}
.participants tr:hover {
	background-color: #ddd;
	cursor:pointer;

}


.Evaluation {
	overflow:hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	border-radius: 3px 3px 0 0;
	border: 1px solid black; 	
	margin-left:auto;
	margin-right:auto;
}
.Evaluation .th1 th {
  border-collapse: collapse;
  color: white;
  font-weight:bold;
  padding: 8px 20px;
  background-color: var(--red);
  display:abosolute; 
  
}
 .Evaluation .MF  td{
	font-size:12px;
	text-align: left;
	
	
}	
.Evaluation  td,input {
  font-weight:bold;
  resize: none;
  font-weight:bold;
  width: 50px;
  text-align: center;
  height:40px;
  
}
.Evaluation .total td{
	color:white;
}
.Evaluation .total  td:nth-child(1){
	 background-color:  var(--red); 
}
.Evaluation tr:hover {
	background-color: #ddd;
	cursor:pointer;

}

