*
{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family:"Open Sans", sans-serif;
}
:root{
	--red:  #E64848;
	--white: #fff;
	--grey: #f5f5f5;
	--black1: #222;
	--black2: #999;
}

body{
	min-height: 625px;
	overflow-x: hidden;
	
	
}


.container{
	position: relative;
	width:100%;
	

}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:  transparent; 
}



.navigation{
	position: fixed;
	width: 300px;
	height: 100%;
	background: var(--red);
	border-left: 10px solid var(--black1);
	transition: 0.5s;
	overflow:hidden;
	overflow-y:scroll;
}
/*navigation 2nd width*/
.navigation.active{
	width:120px;
	
}
.navigation ul{
	position: absolute;
	top: 0;
	left: 5px;
	width: 100%;
		
}

.navigation ul li {
	position: relative;
	width: 100%;
	list-style: none;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	
	
}
.navigation ul li:hover,
.navigation ul li.hovered {
	background: var(--white);
}
/*BESO potal*/
.navigation ul li:nth-child(1){
	margin-bottom: 40px;
	pointer-events: none;
	margin-top:20px;
	margin-bottom:30px;
	
}


.navigation ul li a{
	position: relative;
	display: block;
	width: 100%;
	display:flex;
	text-decoration:none;
	color: var(--white);
}

.navigation ul li:hover a,
.navigation ul li.hovered a{
	color: #444;
	
	
}


.navigation ul li a .icon{
	position: relative;
	display: block;
	min-width: 70px;
	height: 70px;
	line-height: 90px;
	text-align:center;
	
}

.navigation ul li a .icon ion-icon{
	font-size: 30px;
	/*
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
	*/
	margin-left:30px;
}

.navigation ul li a .title{
	position: relative;
	display:block;
	padding: 0 40px;
	line-height: 70px;
	text-align: start;
	white-space: nowrap;
	font-size: 17px;
	font-weight:bold;
	
}




/* curve outside */

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before{
	content:'';
	position: absolute;
	right:5px;
	top: -50px;
	width:50px;
	height:50px;
	background:transparent;
	border-radius: 50%;
	box-shadow: 35px 35px 0 10px var(--white);
	pointer-events:none;
	
	
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after{
	content:'';
	position: absolute;
	right:5px;
	bottom: -50px;
	width:50px;
	height:50px;
	background:transparent;
	border-radius: 50%;
	box-shadow: 30px -30px 10px var(--white);
	pointer-events:none;
}
.navigation li .active{
text-decoration: underline;
text-underline-position: under;
text-decoration-thickness:3px;
}


/***Main***/
.main{
	position: abosolute;
	margin-left: 270px;
	min-height:625px;
	background: var(--white);
	transition:0.5s;
}
.main.active{
margin-left: 100px;
}
.topbar{
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
}

.toggle{
	position:relative;
	width:40px;
	height:50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size:30px;
	cursor: pointer;
	margin-top:10px;
	margin-left: 30px;
	color:white;
	margin-bottom:-30px;
}

/********* NOTIFICATION NUMBER **********/
.notifDASH{	
margin-left:-15px;
display:flex;
position:abosolute;
}

.icon-buttonDASH {
	margin-left:-210px;
	margin-top:5px;
	width:25px;
	height:25px;
	background: white;
	color:black;
	border-radius:25%;
	justify-content:center;
	align-items:center;
	text-align:center;
	display:flex;
	position:abosolute;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
	font-weight:bold;
	font-size:13px;
}

.notifEVAL{	
margin-left:-25px;
display:flex;
position:abosolute;
}

.icon-buttonEVAL {
	margin-left:-210px;
	margin-top:5px;
	width:25px;
	height:25px;
	background: white;
	color:black;
	border-radius:25%;
	justify-content:center;
	align-items:center;
	text-align:center;
	display:flex;
	position:abosolute;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
	font-weight:bold;
	font-size:13px;
	
}
.notifMONI{	
margin-left:-26px;
display:flex;
position:abosolute;
}

.icon-buttonMONI {
	margin-left:-210px;
	margin-top:5px;
	width:25px;
	height:25px;
	background: white;
	color:black;
	border-radius:25%;
	justify-content:center;
	align-items:center;
	text-align:center;
	display:flex;
	position:abosolute;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
	font-weight:bold;
	font-size:13px;
	
}

/*******  NOTIFICATION NUMBER***************/




.graph{
	margin-top:10px;
	display:flex;
justify-content: center;
margin-left:40px;

}

#ChartCICS{
	margin-left:45px;
	
}
#ChartCIT{
	margin-left:45px;
}
/*
.profile{
	margin-top:50px;
	
	display:fixed;
	
}
.profile ion-icon{
	display: inline-block;
	vertical-align: middle;
	width:50px;
	height:50px;
	color:green;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
	border-radius:50%;
	margin-right:15px;

}
*/

.PromptHead{
	margin-left:auto;
	margin-right:auto;
	border:1px solid black;
	padding:5px;
	border-radius:5px;
}


.scroll{
	overflow-y:scroll;
	
}
.scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius:3px;
   box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);

  
 
}
.scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scroll::-webkit-scrollbar {
  width: 10px;
  height:10px;
   
  
}
.btnview{
	margin-left:auto;
}
.btnview .adduser{
  margin-right:8px;
  background-color: #353c59; 
  border: none;
  color: white;
  padding: 5px 15px;
  font-size: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  border-radius: 5px;
  text-decoration:none;
  display: inline-block;
  vertical-align: middle;

  
}

.btnview .adduser:hover {
  background-color:  #4248f8;
  color: white;
  text-decoration:none;
}

.btnview .adduser ion-icon {
	display: inline-block;
	vertical-align: middle;
	margin-right:10px;
	font-size: 20px;
	float: left;
	text-decoration:none;
}

.input{
  margin-right:auto;
  margin-left:30px;
  
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3); 
  overflow:hidden;
  overflow-y:scroll;
  height:470px;
  width:100%;
  border:1px solid black;
  
	

}


.input table , td, th {
	border-collapse: collapse;
	text-align:center;	
	border-radius: 2px;

	
	
	
}


.input th{
	color:white;
	background-color: var(--red);
	font-weight:bold;
	padding:10px;
	
	
}
.input td {
	background-color:#EEF1FF;
	cursor:pointer;
}

.cols td:nth-child(1){
	background-color:white;
}
/*
.cols1 td:nth-child(even){
	background-color:white;
}
.cols1 td:nth-child(odd){
	background-color:white;
}
 */
 #DropdownTa{
	 text-align:left;
 }
#DropdownTa input{
	border-radius:3px;
	background-color:white; 
	color: black;
	cursor:pointer;
	padding: 10px 10px;
	box-shadow: 0 0 20px rgba(0,0,0,0.3); 
	width:15%;
	height:37px;
	padding:6px;
	
}
#CreatebtnTa{
	margin-top:-36px;
	margin-right:500px;
}
#CreatebtnTa input {
	
	border-radius:3px;
	background-color:white; 
	color: black;
	cursor:pointer;
	padding: 10px 10px;
	box-shadow: 0 0 20px rgba(0,0,0,0.3); 
	width:10%;
	height:37px;
	padding:6px;
}
#CreatebtnTa input:hover{
	background-color:#168aad; 
	color:white;
}
	
 
.input1 input:nth-child(1){
	width:110px;
	text-align:center;
}
.input2 input:nth-child(1){
	width:200px;
	text-align:center;
}
.input  td,input{
	width:60px;
	height:25px;
	text-align:center;
	box-shadow: 0 0 1px rgba(0,0,0,0.3);
	border:none;
	padding:10px;
	background:transparent;
}
.input  td{
border:1px solid grey;
border-collapse:collapse;
}


#savebtn input{
	
	border-radius:3px;
	background-color:white; 
	color: black;
	cursor:pointer;
	padding: 10px 10px;
	box-shadow: 0 0 20px rgba(0,0,0,0.3); 
	width:10%;
	height:38px;
	padding:7px;
}
#savebtn input:hover{
	background-color:#4CAF50; 
	color:white;
}

#savebtn span{
	border-radius:3px;
	background-color:white; 
	color: black;
	cursor:pointer;
	padding: 10px 15px;
	box-shadow: 0 0 20px rgba(0,0,0,0.3); 
		margin-top:10px;
	font-weight:normal;
}
#savebtn span:hover{
	cursor:pointer;
	background-color:#FF884B;
	color:white;
}


#Enable_SaveBtn{
	width:30%;
	border-radius:3px;
	background-color:white; 
	color: black;
	cursor:pointer;
	padding: 10px 10px;
	box-shadow: 0 0 20px rgba(0,0,0,0.3); 
	
}
#Enable_SaveBtn:hover{
	cursor:pointer;
	background-color: #168aad; 
	color:white;
}

#Enable_Dropdown{
	margin:auto;
	width:30%;
	border-radius:3px;
	background-color:white; 
	color: black;
	cursor:pointer;
	padding: 10px 10px;
	box-shadow: 0 0 20px rgba(0,0,0,0.3); 
}

#Enable_Dropdown:hover{
	cursor:pointer;
	background-color: #168aad; 
	color:white;
}



#Dropdown select{
  display:flex;
  margin:auto;
  cursor: pointer;
  border:none;
  text-align:center;
  width:30%;
  border:none;
  height:30px;
  border-radius:3px;
  display: inline-block;
  vertical-align: middle;
  margin-right:40px;
  
}
#Dropdown option{
	font-size:15px;
	cursor:pointer;
}


#Dropdown input{
	border-radius:3px;
	background-color:white; 
	color: black;
	cursor:pointer;
	padding: 10px 10px;
	box-shadow: 0 0 20px rgba(0,0,0,0.3); 
	width:15%;
	height:37px;
	padding:6px;
}
#Dropdown input:hover{
	background-color:#4CAF50; 
	color:white;
}
	
	


#Dropdown span{
	border-radius:3px;
	background-color:white; 
	color: black;
	cursor:pointer;
	padding: 10px 15px;
	box-shadow: 0 0 20px rgba(0,0,0,0.3); 
		margin-top:10px;
}
#Dropdown span:hover{
	cursor:pointer;
	background-color:#FF884B;
	color:white;
}