*
{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family:"Open Sans", sans-serif;
}
:root{
	--red:  #2B4257;
	--white: #fff;
	--grey: #f5f5f5;
	--black1: #222;
	--black2: #999;
}

body{
	min-height: 625px;
	overflow-x: hidden;
	
	
}


.container{
	position: relative;
	width:100%;
	

}


/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:  transparent; 
}



.navigation{
	position: fixed;
	width: 300px;
	height: 100%;
	background: var(--red);
	border-left: 10px solid var(--black1);
	transition: 0.5s;
	overflow:hidden;
	overflow-y:scroll;
}
/*navigation 2nd width*/
.navigation.active{
	width:120px;
	
}
.navigation ul{
	position: absolute;
	top: 0;
	left: 5px;
	width: 100%;
		
}

.navigation ul li {
	position: relative;
	width: 100%;
	list-style: none;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	
	
	
}
.navigation ul li:hover,
.navigation ul li.hovered {
	background: var(--white);
}
/*BESO potal*/
.navigation ul li:nth-child(1){
	margin-bottom: 40px;
	pointer-events: none;
	margin-top:20px;
	margin-bottom:30px;
	
}

.navigation ul li a{
	position: relative;
	display: block;
	width: 100%;
	display:flex;
	text-decoration:none;
	color: var(--white);
}

.navigation ul li:hover a,
.navigation ul li.hovered a{
	color: #444;
		
	
	
}


.navigation ul li a .icon{
	position: relative;
	display: block;
	min-width: 70px;
	height: 70px;
	line-height: 90px;
	text-align:center;
	
}

.navigation ul li a .icon ion-icon{
	font-size: 30px;
	/*
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
	*/
	margin-left:30px;
}

.navigation ul li a .title{
	position: relative;
	display:block;
	padding: 0 40px;
	line-height: 70px;
	text-align: start;
	white-space: nowrap;
	font-size: 17px;
	font-weight:bold;
	
}





/* curve outside */

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before{
	content:'';
	position: absolute;
	right:5px;
	top: -50px;
	width:50px;
	height:50px;
	background:transparent;
	border-radius: 50%;
	box-shadow: 35px 35px 0 10px var(--white);
	pointer-events:none;
	
	
	
	
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after{
	content:'';
	position: absolute;
	right:5px;
	bottom: -50px;
	width:50px;
	height:50px;
	background:transparent;
	border-radius: 50%;
	box-shadow: 30px -30px 10px var(--white);
	pointer-events:none;

}
/***
.navigation li .active{
text-decoration: underline;
text-underline-position: under;
text-decoration-thickness:3px;
}
**/

/***Main***/
.main{
	position: abosolute;
	margin-left: 270px;
	min-height:625px;
	background: var(--white);
	transition:0.5s;
}
.main.active{
margin-left: 100px;
}
.topbar{
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
}

.toggle{
	position:relative;
	width:40px;
	height:50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size:30px;
	cursor: pointer;
	margin-top:10px;
	margin-left: 30px;
	margin-bottom:-30px;
	color:white;
}
/********* NOTIFICATION NUMBER **********/
.notifREV{
margin-top:-30px;
display:flex;
position:abosolute;
}

.notif{
margin-top:-30px;
display:flex;
position:abosolute;
}

.icon-button__badge {
	margin-left:-60px;
	margin-top:-1px;
	width:28px;
	height:28px;
	background: white;
	color:black;
	border-radius:25%;
	justify-content:center;
	align-items:center;
	text-align:center;
	display:flex;
	position:abosolute;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
	font-size:13px;

}




.notifDASH{	
margin-left:-15px;
display:flex;
position:abosolute;
}

.icon-buttonDASH {
	margin-left:-210px;
	margin-top:5px;
	width:25px;
	height:25px;
	background: white;
	color:black;
	border-radius:25%;
	justify-content:center;
	align-items:center;
	text-align:center;
	display:flex;
	position:abosolute;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
	font-weight:bold;
	font-size:13px;
	
}

.notifEVAL{	
margin-left:-25px;
display:flex;
position:abosolute;
}

.icon-buttonEVAL {
	margin-left:-210px;
	margin-top:5px;
	width:25px;
	height:25px;
	background: white;
	color:black;
	border-radius:25%;
	justify-content:center;
	align-items:center;
	text-align:center;
	display:flex;
	position:abosolute;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
	font-weight:bold;
	font-size:13px;
	
}
.notifMONI{	
margin-left:-26px;
display:flex;
position:abosolute;
}

.icon-buttonMONI {
	margin-left:-210px;
	margin-top:5px;
	width:25px;
	height:25px;
	background: white;
	color:black;
	border-radius:25%;
	justify-content:center;
	align-items:center;
	text-align:center;
	display:flex;
	position:abosolute;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
	font-weight:bold;
	font-size:13px;
	
}

/********* NOTIFICATION NUMBER **********/
.menu{
	 text-decoration:none;
	 padding: 13px;
}


 .menu .nav{
  margin-right:20px;
  background-color: white; 
  border: none;
  color: black;
  padding: 10px 15px;
  font-size: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  border-radius: 5px;
  text-decoration:none;
  display: inline-block;
  vertical-align: middle;

}

.menu .nav:hover {
  background-color:   #708090;
  color: white;
  text-decoration:none;
}

.menu .nav ion-icon {
	display: inline-block;
	vertical-align: middle;
	margin-right:10px;
	font-size: 20px;
	float: left;
	text-decoration:none;
}

.menu .nav1{
  margin-right:20px;
  background-color:  #4248f8;
  border: none;
  color: white;
  padding: 10px 15px;
  font-size: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  border-radius: 5px;
  text-decoration:none;
  display: inline-block;
  vertical-align: middle;

}

.menu .nav1 ion-icon {
	display: inline-block;
	vertical-align: middle;
	margin-right:10px;
	font-size: 20px;
	float: left;
	text-decoration:none;
}


.menu .nav2{
  margin-right:20px;
  background-color:  #4248f8;
  border: none;
  color: white;
  padding: 10px 15px;
  font-size: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  border-radius: 5px;
  text-decoration:none;
  display: inline-block;
  vertical-align: middle;
}

.menu .nav2 ion-icon {
	display: inline-block;
	vertical-align: middle;
	margin-right:10px;
	font-size: 20px;
	float: left;
	text-decoration:none;
}

.menu .nav3{
  margin-right:20px;
  background-color:  #4248f8;
  border: none;
  color: white;
  padding: 10px 15px;
  font-size: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  border-radius: 5px;
  text-decoration:none;
  display: inline-block;
  vertical-align: middle;
}

.menu .nav3 ion-icon {
	display: inline-block;
	vertical-align: middle;
	margin-right:10px;
	font-size: 20px;
	float: left;
	text-decoration:none;
}

.menu .nav4{
  margin-right:5px;
  background-color:  #4248f8;
  border: none;
  color: white;
  padding: 10px 15px;
  font-size: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  border-radius: 5px;
  text-decoration:none;
  display: inline-block;
  vertical-align: middle;
}

.menu .nav4 ion-icon {
	display: inline-block;
	vertical-align: middle;
	margin-right:10px;
	font-size: 20px;
	float: left;
	text-decoration:none;
}




.proposals{
  width: 97%;
  margin-left:30px;
  margin-right:30px;
  border-radius: 3px 3px 0 0;
  overflow:hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  display:fixed;
  border: 1px solid black; 
  text-decoration:none;
}
.proposals .title th:nth-child(1){
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: var(--red);
  color: white;
  font-weight:bold;
  text-decoration:none;
  font-size:30px;
	
}



.proposals th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: var(--red);
  color: white;
  font-weight:bold;
  text-decoration:none;
  
}


.proposals td{
	padding:10 10px;
	text-align: center;

}
.proposals td, .proposals th {
  padding: 5px;
}

.proposals tr{
	background-color: #EFEFEF;

}

.proposals tr:hover {
background-color: #D1D1D1;}


.proposals input {
	text-align: center;
	
}


.proposals .Pbtn{
  background-color: #00b4d8; 
  border: none;
  color: white;
  padding: 5px 10px;
  font-size: 11px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  border-radius: 5px;
  text-decoration:none;
  margin-right:7px;
  
 
}
.proposals .Pbtn:hover {
  background-color:  #0077b6;
  color: white;
}

.proposals .Pbtn1{
 background-color: #EF7C8E; 
  border: none;
  color: white;
  padding: 5px 10px;
  font-size: 11px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  border-radius: 5px;
  text-decoration:none;
  margin-right:7px
}

.proposals .Pbtn1:hover {
  background-color:  var(--red);
  color: white;
}
.proposals .Pbtn2{
 background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 5px 10px;
  font-size: 11px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  border-radius: 5px;
  text-decoration:none;
  margin-right:7px
}

.proposals .Pbtn2:hover {
  background-color:  #38E54D;
  color: white;
}

.proposals .Pbtn3{
 background-color: orange; 
  border: none;
  color: white;
  padding: 5px 10px;
  font-size: 11px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  border-radius: 5px;
  text-decoration:none;
  margin-right:7px
}

.proposals .Pbtn3:hover {
  background-color:  #FF884B;
  color: white;
}
.proposals .Rbtn{
  background-color:  #00b4d8; 
  border: none;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  border-radius: 5px;
  text-decoration:none;
  margin-right:7px;
  
 
}
.proposals .Rbtn:hover {
  background-color: #0077b6;
  color: white;
}

.proposals .Rbtn1{
  background-color: #EF7C8E; 
  border: none;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  border-radius: 5px;
  text-decoration:none;
  margin-right:7px;
 
}
.proposals .Rbtn1:hover {
  background-color: var(--red);
  color: white;
}

.proposals .Rbtn2{
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  border-radius: 5px;
  text-decoration:none;
  margin-right:7px;
 
}
.proposals .Rbtn2:hover {
  background-color: #38E54D;
  color: white;
}
.proposal .Abtn1 a{
	margin-top:10px;
}
.proposals .Abtn{
  background-color:  #00b4d8; 
  border: none;
  color: white;
  padding: 5px 10px;
  font-size: 13px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  border-radius: 5px;
  text-decoration:none;
  
 
}
.proposals .Abtn:hover {
  background-color: #0077b6;
  color: white;
}
.proposals .Abtn1{
  background-color:  #4d908e; 
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  border-radius: 2px;
  text-decoration:none;
  margin-top:10px;
  display:inline-block;

  
 
 
}
.proposals .Abtn1:hover {
  background-color: #43aa8b;
  color: white;
}

.proposals .Abtn2{
  background-color:  #4d908e; 
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  border-radius: 2px;
  text-decoration:none;
 margin-top:10px;
  display:inline-block;
 
}
.proposals .Abtn2:hover {
  background-color: #43aa8b;
  color: white;
}

.proposals .REbtn{
  background-color: #00b4d8; 
  border: none;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  border-radius: 5px;
  text-decoration:none;
  margin-right:8px;
  margin-left: -1px;
 
}
.proposals .REbtn:hover {
  background-color:  #0077b6;
  color: white;
}

.proposals .REbtn1{
  background-color: #023e8a; 
  border: none;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  border-radius: 5px;
  text-decoration:none;
  margin-right:2px;
  margin-left: -1px;
 
}
.proposals .REbtn1:hover {
  background-color: #03045e ;
  color: white;
}




 .proposals .btn {
  background-color: #168aad; 
  border: none;
  color: white;
  padding: 5px 10px;
  font-size: 11px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  border-radius: 5px;
  text-decoration:none;
  margin-right:2px;
}

.proposals.btn:hover {
  background-color:  #34a0a4;
  color: white;
}

.proposals .btn1 {
  background-color: #EF7C8E; 
  border: none;
  color: white;
  padding: 5px 10px;
  font-size: 11px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  border-radius: 5px;
  text-decoration:none;
  margin-right:5px; 
  
}

.proposals .btn1:hover {
  background-color:  var(--red);
  color: white;
}

.proposals .btn2 {
  background-color: orange; 
  border: none;
  color: white;
  padding: 5px 10px;
  font-size: 11px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  border-radius: 5px;
  text-decoration:none;
  
}

.proposals .btn2:hover {
  background-color:  #FF884B;
  color: white;
}

.proposals .btn3 {
  margin-right:5px;
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 5px 10px;
  font-size: 11px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  border-radius: 5px;
  text-decoration:none;

  
}

.proposals .btn3:hover {
  background-color:  #38E54D;
  color: white;
}
.Drp{
	text-align:left;
}
.Drp select{
  display:flex;
  margin:auto;
  cursor: pointer;
  border:none;
  text-align:center;
  width:15%;
  border:none;
  height:30px;
  border-radius:3px;
  display: inline-block;
  vertical-align: middle;
  margin-right:40px;
  
}
.Drp option{
	font-size:15px;
	cursor:pointer;
	
	
}
.Drp input{
  display:flex;
  margin:auto;
  cursor: pointer;
  border:none;
  text-align:center;
  width:15%;
  border:none;
  height:30px;
  border-radius:3px;
  display: inline-block;
  vertical-align: middle;
  
}
.Drp option{
	font-size:15px;
	cursor:pointer;
	
	
}