*
{
	margin:0;
	padding:0;
	box-sizing: border-box;
	

	
}



 table , td, th {
	
	border-collapse: collapse;
	word-break: break-all;
	padding:7px;	
	font-family: "Times New Roman", Times, serif;
}
.print{
	
	margin-top:5px;
	margin-left:7px;
	margin-bottom:10px;
}


.print ion-icon{
	width:100px;
}
.print button{
	padding:5px;
	cursor:pointer
	
}


.logo{
	height:75px;
	width:75px;
	display: inline-block;
	vertical-align: middle;
	margin-right:10px;
	
}

.table-class{
	margin-bottom:-30px;
	
}
.table-class th{
	 border:none;
}
.table-trainess{
	margin-bottom:-50px;
	
}
.table-trainess th{
	text-align:left;
	border:none;
}


 
.content table{
	margin-top:50px;
	margin-left:7px;
	width:99%;
}
.table2 td,th{
	border:1px solid black;
}

.table2 th{
	
	padding:5px;
	
}
.table2 td{
	font-size:13px;
	
}

.font td{
	padding-top:5px;
	padding-bottom:5px;
}

.font td{
	text-align:center;	
}

::-webkit-resizer {
  display: none;
}
textarea::-webkit-scrollbar {
    width: 1px;
}
.font textarea{
	border:none;
	height: auto;
}
.font2nd textarea{
	border:none;
	height: auto;
	text-align:center;
}

.legend td{
	font-style: italic;
	padding:0;
}

.signatories{
	width:99%;
	border:none;
}

.signatories textarea{
	width:100%;
	height:150px;
	text-align:center;
	font-size:15px;
	padding:5px;
	border:none;
}

.signatories th{
	border:none;
}
.signatories td{
	border:none;
}

/******************** GAD STYLE ********************************/

.content1{
	margin-top:10px;
	margin-left:10px;
	
	
}

.GADsignatories{
	width:100%;
}



.Gad-Margin{
	margin-bottom:-50px;
}



.Gad-style td{
	border:1px solid black;

	
}

.Gad-content td{
	border:1px solid black;
	
}

.Gad-content{
	width:99%;
}

.GADsignatories textarea{
	width:100%;
	height:150px;
	text-align:center;
	font-size:15px;
	padding:5px;
	border:none;
	font-family: "Times New Roman", Times, serif;
}
.GADsignatories td{
	
	border:1px solid black;
	
}
.GADsignatories th{
border-top:none;
}


/******************** SIGNATORIES STYLE ********************************/
.DrpSigna{
	margin-left:auto;
	margin-right:auto;
	font-family: "Times New Roman", Times, serif;
}

.DrpSigna select{
 font-family: "Times New Roman", Times, serif;
  background: #f1f1f1;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  padding: 10px;
  margin-bottom:20px;
  margin-top:3px;
  border:none;
  text-align:center;
  width:100%;
  font-size:13px;
  
}
.DrpSigna option{
	
	cursor:pointer;
	margin-left:auto;
	margin-right:auto;
	font-family: "Times New Roman", Times, serif;

}


.Getbtn button {
font-weight:bold;
border:1px solid green;
cursor:pointer;
display:flex;
padding:5px 10px;
margin:auto;
border-radius:5px;
margin-top:-10px;
margin-bottom:15px;
font-family: "Times New Roman", Times, serif;
}

.Getbtn button:hover{
	background-color:#38E54D;
	color:white;
	cursor:pointer;
	font-family: "Times New Roman", Times, serif;
}
textarea{
	font-family: "Times New Roman", Times, serif;
}