*
{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family:"Open Sans", sans-serif;
}
:root{
	--red:  #E64848;
	--white: #fff;
	--grey: #f5f5f5;
	--black1: #222;
	--black2: #999;
}

body{
	min-height: 625px;
	overflow-x: hidden;
	
	
}


.container{
	position: relative;
	width:100%;
	

}


/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:  transparent; 
}



.navigation{
	position: fixed;
	width: 300px;
	height: 100%;
	background: var(--red);
	border-left: 10px solid var(--black1);
	transition: 0.5s;
	overflow:hidden;
	overflow-y:scroll;
}
/*navigation 2nd width*/
.navigation.active{
	width:120px;
	
}
.navigation ul{
	position: absolute;
	top: 0;
	left: 5px;
	width: 100%;
		
}

.navigation ul li {
	position: relative;
	width: 100%;
	list-style: none;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	
	
}
.navigation ul li:hover,
.navigation ul li.hovered {
	background: var(--white);
}
/*BESO potal*/
.navigation ul li:nth-child(1){
	margin-bottom: 40px;
	pointer-events: none;
	margin-top:20px;
	margin-bottom:30px;
	
}

.navigation ul li a{
	position: relative;
	display: block;
	width: 100%;
	display:flex;
	text-decoration:none;
	color: var(--white);
}

.navigation ul li:hover a,
.navigation ul li.hovered a{
	color: #444;
	
	
}


.navigation ul li a .icon{
	position: relative;
	display: block;
	min-width: 70px;
	height: 70px;
	line-height: 90px;
	text-align:center;
	
}

.navigation ul li a .icon ion-icon{
	font-size: 30px;
	/*
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
	*/
	margin-left:30px;
}

.navigation ul li a .title{
	position: relative;
	display:block;
	padding: 0 40px;
	line-height: 70px;
	text-align: start;
	white-space: nowrap;
	font-size: 17px;
	font-weight:bold;
	
}




/* curve outside */

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before{
	content:'';
	position: absolute;
	right:5px;
	top: -50px;
	width:50px;
	height:50px;
	background:transparent;
	border-radius: 50%;
	box-shadow: 35px 35px 0 10px var(--white);
	pointer-events:none;
	
	
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after{
	content:'';
	position: absolute;
	right:5px;
	bottom: -50px;
	width:50px;
	height:50px;
	background:transparent;
	border-radius: 50%;
	box-shadow: 30px -30px 10px var(--white);
	pointer-events:none;
}
/***Main***/
.main{
	position: abosolute;
	margin-left: 270px;
	min-height:625px;
	background: var(--white);
	transition:0.5s;
}
.main.active{
margin-left: 100px;
}
.topbar{
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
}

.toggle{
	position:relative;
	width:40px;
	height:50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size:30px;
	cursor: pointer;
	margin-top:10px;
	margin-left: 30px;
	margin-bottom:-30px;
	color:white;
}

.navigation li .active{
text-decoration: underline;
text-underline-position: under;
text-decoration-thickness:3px;
}

/********* NOTIFICATION NUMBER **********/
.notifDASH{	
margin-left:-25px;
display:flex;
position:abosolute;
}

.icon-buttonDASH {
	margin-left:-210px;
	margin-top:5px;
	width:25px;
	height:25px;
	background: white;
	color:black;
	border-radius:25%;
	justify-content:center;
	align-items:center;
	text-align:center;
	display:flex;
	position:abosolute;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
	font-weight:bold;
	font-size:13px;
}

/********* NOTIFICATION NUMBER **********/


.menu{
	 text-decoration:none;
}


 

.menu1{
	 text-decoration:none;
}


 .menu1 .nav{
  margin-right:5px;
  background-color: #f5f5f5;
  border: none;
  color: black;
  padding: 10px 15px;
  font-size: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  border-radius: 5px;
  text-decoration:none;
  display: inline-block;
  vertical-align: middle;
  border:1px solid #4CAF50;
  margin-top:10px;
  
}

.menu1 .nav:hover {
  color:white;
  background:#4CAF50;
 
  text-decoration:none;
}

.menu1 .nav ion-icon {
	display: inline-block;
	vertical-align: middle;
	margin-right:10px;
	font-size: 20px;
	float: left;
	text-decoration:none;
}



.menu .nav1{
  margin-right:5px;
  background-color:  #4CAF50;
  border: none;
  color: white;
  padding: 10px 15px;
  font-size: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  border-radius: 5px;
  text-decoration:none;
  display: inline-block;
  vertical-align: middle;


}

.menu .nav1 ion-icon {
	display: inline-block;
	vertical-align: middle;
	margin-right:10px;
	font-size: 20px;
	float: left;
	text-decoration:none;
}

.menu1 .nav1{
  margin-right:5px;
  background-color:  #4CAF50;
  border: none;
  color: white;
  padding: 10px 15px;
  font-size: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  border-radius: 5px;
  text-decoration:none;
  display: inline-block;
  vertical-align: middle;
  margin-top:10px;


}

.menu1 .nav1 ion-icon {
	display: inline-block;
	vertical-align: middle;
	margin-right:10px;
	font-size: 20px;
	float: left;
	text-decoration:none;
}



.menu .nav{
  margin-right:5px;
  background-color: #f5f5f5;
  border: none;
  color: black;
  padding: 10px 15px;
  font-size: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  border-radius: 5px;
  text-decoration:none;
  display: inline-block;
  vertical-align: middle;
  border:1px solid #4CAF50;
  
}

.menu .nav:hover {
  color:white;
  background:#4CAF50;
 
  text-decoration:none;
}

.menu .nav ion-icon {
	display: inline-block;
	vertical-align: middle;
	margin-right:10px;
	font-size: 20px;
	float: left;
	text-decoration:none;
}


.Reports{
  width: 97%;
  margin-top:-3px;
  margin-left:30px;
  margin-right:30px;
  border-radius: 3px 3px 0 0;
  overflow:hidden;
  padding:20px 5px;
   
  display:fixed;
  border: 1px solid black; 
  border-top:none;
  border-left:none;
  border-right:none;
  text-decoration:none;
}


.tbcontent {
	
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	border-radius: 3px 3px 0 0;
	border: 1px solid black; 	
	margin-left:auto;
	margin-right:auto;
	width: 50%;
	margin-top:30px;
	margin-bottom:15px;
	
	
}

.Date {
	
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	border-radius: 3px 3px 0 0;
	border: 1px solid black; 	
	margin-left:auto;
	margin-right:auto;
	width: 50%;
	margin-top:30px;
	margin-bottom:15px;
	
	
}
.tbcontent  th {
  background-color: #4CAF50;
   border:none;
   color:white;
   padding:6px;
}
.tbcontent td{
		padding:20px;
}




.tbcontent  td:hover {
background-color: #EFEFEF;
cursor: pointer;
}



.Drp1 select{
  display:flex;
  margin:auto;
  cursor: pointer;
  border:none;
  text-align:center;
  width:80%;
  border:1px solid black;
  height:40px;
  
}
.Drp1 option{
	font-size:15px;
	cursor:pointer;
	
	
}
.Drp2 select{
  display:flex;
  margin:auto;
  cursor: pointer;
  border:none;
  text-align:center;
  width:80%;
  border:1px solid black;
  height:40px;
  
}
.Drp2 option{
	font-size:15px;
	cursor:pointer;
	
	
}
.Drp3 {
	text-align:left;
}
.Drp4{
	text-align:left;
}
.Drp5{
	text-align:left;
}
.Drp6{
	text-align:left;
}
.Drp3 select{
  display:flex;
  margin:auto;
  cursor: pointer;
  border:none;
  text-align:center;
  width:15%;
  border:none;
  height:30px;
  border-radius:3px;
  display: inline-block;
  vertical-align: middle;
  margin-right:40px;
  
}
.Drp3 option{
	font-size:15px;
	cursor:pointer;
	
}
.Drp3 input{
  display:flex;
  margin:auto;
  cursor: pointer;
  border:none;
  text-align:center;
  width:15%;
  border:none;
  height:30px;
  border-radius:3px;
  display: inline-block;
  vertical-align: middle;
  
  
}

.Drp4 input{
  display:flex;
  margin:auto;
  cursor: pointer;
  border:none;
  text-align:center;
  width:15%;
  border:none;
  height:30px;
  border-radius:3px;
  display: inline-block;
  vertical-align: middle;
  
}
.Drp4 option{
	font-size:15px;
	cursor:pointer;	
}

.Drp5 select{
  display:flex;
  margin:auto;
  cursor: pointer;
  border:none;
  text-align:center;
  width:15%;
  border:none;
  height:30px;
  border-radius:3px;
  display: inline-block;
  vertical-align: middle;
  margin-right:40px;
 
  
}
.Drp5 option{
	font-size:15px;
	cursor:pointer;	
}
.Drp5 input{
  display:flex;
  margin:auto;
  cursor: pointer;
  border:none;
  text-align:center;
  width:15%;
  border:none;
  height:30px;
  border-radius:3px;
  display: inline-block;
  vertical-align: middle;
  
  
}


.Drp6 input{
  display:flex;
  margin:auto;
  cursor: pointer;
  border:none;
  text-align:center;
  width:15%;
  border:none;
  height:30px;
  border-radius:3px;
  display: inline-block;
  vertical-align: middle;
  
}
.Drp6 option{
	font-size:15px;
	cursor:pointer;	
}



.tbcreate{
	text-align:right;
}


.tbcreate .createBTN{
  margin-right:5px;
  background-color: #f5f5f5;
  border: none;
  color: black;
  padding: 5px 15px;
  font-size: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  border-radius: 5px;
  text-decoration:none;
  display: inline-block;
  vertical-align: middle;
  
  
}

.tbcreate .createBTN:hover {
  color:white;
  background:#2192FF;
 
  text-decoration:none;
}

.tbcreate .createBTN ion-icon {
	display: inline-block;
	vertical-align: middle;
	margin-right:10px;
	font-size: 20px;
	float: left;
	text-decoration:none;
}

.Header{
  width: 97%;
  margin-left:30px;
  margin-right:30px;
  border-radius: 3px 3px 0 0;
  overflow:hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  display:fixed;
  border: none; 
  text-decoration:none;
  margin-top:20px;
}

.Header .title th:nth-child(1){
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: var(--red);
  color: white;
  font-weight:bold;
  text-decoration:none;
  font-size:30px;
	
}



.Header th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: var(--red);
  color: white;
  font-weight:bold;
  text-decoration:none;
  
}



.Header td, .Header th {
  padding: 5px;
}

.Header tr{
	background-color: #EFEFEF;

}

.Header td{
	text-align:center;
}


.Header tr:hover {
  background-color:  #D1D1D1;
  cursor:pointer;
}


.Header .margin{
	margin-top:5px;
	margin-bottom:15px;
	
}
.Header .margin2{
	margin-top:5px;
	margin-bottom:15px;
}
.Header .margin1{
	margin-top:5px;
	margin-bottom:5px;
}


.Header .btn1 {

  background-color: #4CAF50; 
  color: white;
  padding: 5px 16px;
  font-size: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  border-radius: 5px;
  text-decoration:none;
  margin-top:5px;

  
}

.Header .btn1:hover {
  background-color:  #38E54D;
  color: white;
}
.Header .btn2 {
 
  background-color: #4CAF50; 
  color: white;
 padding: 5px 10px;
  font-size: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  border-radius: 5px;
  text-decoration:none;
  margin-top:5px;
  

  
}

.Header .btn2:hover {
  background-color:  #38E54D;
  color: white;
}


 .Header .btn3 {
  
  background-color: #4CAF50; 
  color: white;
  padding: 5px 10px;
  font-size: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  border-radius: 5px;
  text-decoration:none;

}

  .Header .btn3:hover {
  background-color:  #38E54D;
  color: white;
}

